
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
  font-family: Arial, sans-serif;
}
/* Container for the entire practice page */
.container {
  padding: 40px;
  max-width: 560rem;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

.xpTracker{
  font-weight: 800;
  display: flex;
  width: 100%;
}

/* Header with progress and health bar */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Card layout for questions */
.questionCard {
  background-color: #ffffff;
  display: block;
  height: 40vh;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 34px;
}

.questionTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.optionButton {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ddd;
  background-color: #eceff1;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.optionButton:hover, .selectedOption {
  background-color: #b3e5fc;
}

.orderingOptionsContainer {
  display: flex;
  flex-direction: column;
}

.orderingOption {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ddd;
  background-color: #eceff1;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.orderingOption:hover, .selectedOrderOption {
  background-color: #b3e5fc;
}

.currentOrder {
  margin-top: 20px;
}

.orderOption {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #d1c4e9;
  border-radius: 5px;
}

.selectedOption {
  background-color: #b3e5fc;
}
.optionButton:hover {
  background-color: #b3e5fc;
}

.essayInput {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  height: 30vh;
  color: black;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f1f1f1;
}
.matchInput {
  width: 10rem;
  color: black;
  padding: 12px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f1f1f1;
}
/* Next button */
.nextButton {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  position: relative;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s;
}

.nextButton:hover {
  background-color: #388e3c;
}

.homeButton{
  background-color: #4c65af;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  margin-top: 40px;
  transition: background-color 0.3s;

}
.completeScreen{
  display: flex;
  flex-direction: column;

  width: 20rem;
  height: 10rem;
}
.homeButton:hover{
  background-color: #6281e1;

}

/* Additional styling for matching and ordering pairs */
.matchingPair, .orderingOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  padding: 10px;
  background-color: #f0f4f8;
  border-radius: 5px;
}
